html, body {
    height: 100%;
    margin: 0;
    background-image: url('https://wpmisc.com/sites/default/files/wallpaper/animals/66787/underwater-jellyfish-hd-wallpapers-66787-7148997.png');
    background-size: cover;
  }
  .content {
    min-height: 100%;
  }
  .content-inside {
    padding: 20px;
    padding-bottom: 50px;
  }
  .footer {
    height: 50px;
    margin-top: -50px;
  }
  /*  main card styling */
  #welcome {
      padding-top: 7rem;
  }
  #name {
      text-align: center;
  }
h1,p {
  text-align: center;
  }
 .C {
   /* background-image: url('https://images.pexels.com/photos/1472999/pexels-photo-1472999.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
   background-size: cover;
   background-repeat: no-repeat;
   /* height: 30rem; */
 }